In [9]:
import pandas as pd;
import numpy as np;

area_dict = {'California': 4235, 'Texas': 4568, 'New York': 457987}
area = pd.Series(area_dict)

pupulation_dict = {'California': 38332521,
                   'Texas': 1234555,
                   'New York': 196511279}
population = pd.Series(pupulation_dict)

states = pd.DataFrame({'population': population, 'area': area})

In [2]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas          1234555
New York     196511279

In [4]:
data = [{'a': i, 'b': 2*i} for i in range(3)]

df = pd.DataFrame(data)
df

   a  b
0  0  0
1  1  2
2  2  4

In [6]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [10]:
#two dimensional array

pd.DataFrame(np.random.rand(3, 2), 
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.588943  0.631016
b  0.122410  0.149127
c  0.456921  0.592059

In [11]:
#from a numpy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [12]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0