In [4]:
import pandas as pd;
import numpy as np;

area_dict = {'California': 4235, 'Texas': 4568, 'New York': 457987}
area = pd.Series(area_dict)
area

California      4235
Texas           4568
New York      457987
dtype: int64

In [5]:
pupulation_dict = {'California': 38332521,
                   'Texas': 1234555,
                   'New York': 196511279}
population = pd.Series(pupulation_dict)

states = pd.DataFrame({'population': population, 'area': area})

states

            population    area
California    38332521    4235
Texas          1234555    4568
New York     196511279  457987

In [6]:
states.index

Index(['California', 'Texas', 'New York'], dtype='object')

In [8]:
states.columns

Index(['population', 'area'], dtype='object')

In [9]:
states['area']

California      4235
Texas           4568
New York      457987
Name: area, dtype: int64