In [1]:
import pandas as pd
import numpy as np

data = pd.Series([1, np.nan, 'hello', None])

In [2]:
data.dropna()

0        1
2    hello
dtype: object

In [6]:
df = pd.DataFrame([[1, np.nan,2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [7]:
#only drop full rows or columns
df.dropna()

     0    1  2
1  2.0  3.0  5

In [8]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [10]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [16]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [20]:
df.dropna(axis='rows', thresh=3) #thresh specified min number of non-null values

     0    1  2   3
1  2.0  3.0  5 NaN