In [7]:
import pandas as pd
import numpy as np

area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [6]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [ ]:
area.index.union(population.index) #better union than |

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [10]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [11]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [14]:
rng = np.random.RandomState(42)
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                columns=list('AB'))
A

    A   B
0   6  19
1  14  10

In [16]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  7  7  2
1  5  4  1
2  7  5  1

In [17]:
A + B

      A     B   C
0  13.0  26.0 NaN
1  18.0  15.0 NaN
2   NaN   NaN NaN

In [ ]:
fill = A.stack().mean() #media de los valores de A (ingnorando NaN)

A.add(B, fill_value=fill) #los valores NaN se reempazan por fill (12.25) y se hace el add

       A      B      C
0  13.00  26.00  14.25
1  18.00  15.00  13.25
2  17.25  19.25  13.25