In [ ]:
import pandas as pd
import numpy as np

df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                            'food': ['fish', 'beans', 'bread']},
                           columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                            'drink': ['wine', 'beer']},
                            columns=['name', 'drink'])

print(df6); 
print(df7); 
print(pd.merge(df6, df7)) #only one entry in common

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread
     name drink
0    Mary  wine
1  Joseph  beer
   name   food drink
0  Mary  bread  wine

In [18]:
pd.merge(df6, df7, how='inner')

   name   food drink
0  Mary  bread  wine

In [19]:
#the outer join returns a join over the union of the input columns and fills in all missing values iths Nsn
pd.merge(df6, df7, how='outer')

     name   food drink
0  Joseph    NaN  beer
1    Mary  bread  wine
2    Paul  beans   NaN
3   Peter   fish   NaN

In [ ]:
pd.merge(df6, df7, how='left') #left or roght join over entries

    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine