In [1]:
import pandas as pd
import numpy as np
#hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names = ['year', 'visit'])

columns = pd.MultiIndex.from_product([['Bob', 'Alice', 'Charlie'], ['HR', 'Sales']],
                                   names = ['name', 'type'])

#mock some data
data = np.round(np.random.rand(4, 6), 1)

data[:, ::2] * 10

data += 37

#create the dataframe
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

name         Bob       Alice       Charlie
type          HR Sales    HR Sales      HR Sales
year visit
2013 1      37.4  38.0  37.8  37.7    37.6  37.6
     2      37.4  37.7  37.1  37.5    37.8  37.6
2014 1      37.1  37.4  38.0  37.5    38.0  37.5
     2      37.3  37.3  37.6  37.9    37.8  37.9

In [2]:
#remember columnas ar primary in DataFrames, and teh syntax fror multiply indexing Series applied for the columns
health_data['Bob', 'HR']

year  visit
2013  1        37.4
      2        37.4
2014  1        37.1
      2        37.3
Name: (Bob, HR), dtype: float64

In [3]:
health_data.iloc[:2, :2]

name         Bob
type          HR Sales
year visit
2013 1      37.4  38.0
     2      37.4  37.7

In [4]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        37.4
      2        37.4
2014  1        37.1
      2        37.3
Name: (Bob, HR), dtype: float64

In [5]:
# Working with slices within these index tuples is not especially convenient
health_data.loc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (3233473376.py, line 2)

In [8]:
idx = pd.IndexSlice

health_data.loc[idx[:, 1], idx[:, 'HR']]

name         Bob Alice Charlie
type          HR    HR      HR
year visit
2013 1      37.4  37.8    37.6
2014 1      37.1  38.0    38.0