In [20]:
import pandas as pd
import numpy as np

In [3]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [4]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [5]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [ ]:
index = [('California', 2000), ('California', 2010),
 ('New York', 2000), ('New York', 2010),
 ('Texas', 2000), ('Texas', 2010)]

populations = [33871648, 37253956,
 18976457, 19378102,
 20851820, 25145561]

pop = pd.Series(populations, index=index)
index = pd.MultiIndex.from_tuples(index)
pop = pop.reindex(index)
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [45]:
#hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names = ['year', 'visit'])

columns = pd.MultiIndex.from_product([['Bob', 'Alice', 'Charlie'], ['HR', 'Sales']],
                                   names = ['name', 'type'])

#mock some data
data = np.round(np.random.rand(4, 6), 1)

data[:, ::2] * 10

data += 37

#create the dataframe
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

name         Bob       Alice       Charlie
type          HR Sales    HR Sales      HR Sales
year visit
2013 1      37.4  38.0  37.0  37.8    37.7  37.6
     2      37.3  38.0  37.6  37.8    37.9  37.8
2014 1      37.0  37.5  37.0  37.6    37.3  38.0
     2      37.4  37.6  37.5  37.7    37.2  37.2

In [46]:
health_data['Alice']

type          HR  Sales
year visit
2013 1      37.0   37.8
     2      37.6   37.8
2014 1      37.0   37.6
     2      37.5   37.7